[Unit]
Description=Redis DB server for node-observer
Documentation=https://github.com/wotsyula/nodejs-observer-sample
#Requires=After=mysql.service       # Requires the mysql service to run first

[Service]
WorkingDirectory=/opt/src/node-observer
ExecStart=/opt/src/node-observer/vendor/redis-stable/src/redis-server
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-observer
#User=<alternate user>
#Group=<alternate group>
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
